* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.background.image {
    width: 100vx;
    height: 100%;
}

.language {
  display: flex;
  text-align: right;
}
.logo {
  display: flex;
  text-align: right;
  
}

.navbar {
   position: absolute;
    top: 0;
    height: 3%;
    width: 89%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 70px;
    size: 450px;
}
    

.options {
    font-size: 20px;
    margin-right: 20px;
    color: black;
    background-color: black;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  background-image: url("ai-generated-portrait-of-a-group-of-masked-soldiers-with-guns-on-dark-background-armed-special-forces-group-with-shotguns-on-a-black-background-face-covered-with-masks-ai-generated-free-photo-artgur.jpeg");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  position: relative; 
  overflow: hidden;
  color: white;
}

.hero {
  
  min-height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;    
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 80px 20px; 
  color: white;
}